<% layout("layouts/boilerplate") %>

    <h1>All of our Campgrounds</h1>
    <a href="/campgrounds/new">Create new Campground!</a>
    
    <% for(let i = 0; i < campgrounds.length; i++){ %>
        <div class="card my-3">
            <div class="row">
                <div class="col-md-4">
                    <img src="<%= campgrounds[i].image %>" class="img-fluid" alt="">
                </div>
                <div class="col-md-8">
                    <h3 class="card-title text-center"> <%= campgrounds[i].name %> </h3>
                    <p class="card-text"> <%= campgrounds[i].description  %> </p>
                    <div class="row">
                        <div class="col text-center">
                            <p class="text-secondary text-center"><%= campgrounds[i].location %></p>
                        </div>
                        <div class="col text-center">
                            <a class="btn btn-primary" href="campgrounds/<%= campgrounds[i].id %>">
                                View <%= campgrounds[i].name %>
                            </a>
                        </div>
                        <div class="col">
                            <p class="text-danger text-center">&#8377; <%= campgrounds[i].price %>/night</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% } %>