<% layout("layouts/boilerplate") %>
<div class="container-fluid">
<div id="cluster-map" class="mb-1"></div>
</div>
<h1>All of our Campgrounds</h1>

<% for(let i = 0; i < campgrounds.length; i++){ %>
    <div class="card my-3">
        <div class="row">
            <% if(campgrounds[i].images.length) {%>
            <div class="col-md-4">
                <img src="<%= campgrounds[i].images[0].url %>" class="img-fluid" alt="" crossorigin="anonymous">
            </div>
            <%} else{%>
                <div class="col-md-4">
                    <img src="https://res.cloudinary.com/ddmjczaqq/image/upload/v1704386325/YelpCamp/v7t7pe1pdebeo2i1ctf6.jpg" class="img-fluid" alt="" crossorigin="anonymous">
                </div>
            <%} %>
            <div class="col-md-8">
                <h3 class="card-title text-center mt-3"> <%= campgrounds[i].name %> </h3>
                <p class="card-text mt-3"> <%= campgrounds[i].description  %> </p>
                <div class="row mt-5">
                    <div class="col text-center">
                        <p class="text-secondary text-center"><%= campgrounds[i].location %></p>
                    </div>
                    <div class="col text-center">
                        <a class="btn btn-primary" href="campgrounds/<%= campgrounds[i].id %>">
                            View <%= campgrounds[i].name %>
                        </a>
                    </div>
                    <div class="col">
                        <p class="text-danger text-center">&#8377; <%= campgrounds[i].price %>/night</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } %>
<script> 
    const mapToken = "<%-process.env.MAPBOX_TOKEN %>";          // for displaying the map
    const campgrounds = {features: <%- JSON.stringify(campgrounds) %>}
</script> 
<script src="/js/indexClusterMap.js"></script>