<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/css/starability.css">
<div class="row">
    
    <div class="col-6">
        
        <div class="card mb-3">

            <div id="campgroundCarousel" class="carousel slide" data-bs-ride="carousel">


                    <div class="carousel-inner">

                    
                        <% for(let i = 0; i<camp.images.length; i++) {%>
                        
                            <div class="carousel-item <%= i === 0 ? "active" : "" %>">
                                <img src="<%= camp.images[i].url %>" class="d-block w-100" alt="...">
                            </div>
                        
                        <%} %>
                    </div>
                    
                    <% if(camp.images.length > 1) {%>

                        <button class="carousel-control-prev" type="button" data-bs-target="#campgroundCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#campgroundCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                        </button>
                        
                    <%} %>


            </div>
            
            
            <div class="card-body">
                <h5 class="card-title"><%= camp.name %></h5>
                <p class="card-text"><%= camp.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Based in <span class="text-secondary"><%= camp.location %> </span></li>
                <li class="list-group-item">Submitted by <span class="text-secondary"><%= camp.author.username %></span></li>
                <li class="list-group-item text-danger">&#8377;<%= camp.price %>/night</li>
            </ul>
            <% if(currentUser && camp.author.equals(currentUser._id)) {%>
            <div class="card-body">
                <a href="<%= camp.id %>/edit" class="card-link btn btn-primary">Edit</a>
                <form class="d-inline" action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <%} %>

            <div class="card-footer text-body-secondary">
                2 days ago
            </div>
        </div>
    </div>


    <div class="col-6">
        <div id='map' style='width: 100%; height: 300px;'></div>
        <% if(currentUser) {%>
        <h2>Rate your Experience</h2>
        <form action="/campgrounds/<%= camp._id %>/reviews" class="mb-3 needs-validation" method="POST" novalidate>
            <!-- <div class="mb-3">
                <label for="rating">Rating</label>
                <input type="range" min="1" max="5" name="review[rating]" id="rating" required>
            </div> -->
            <div class="mt-3">
                <fieldset class="starability-basic">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Review</label>
                <textarea class="form-control" name="review[body]" id="body " cols="30" rows="3" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3 d-flex justify-content-center">
                <button class="btn btn-success text-center">Submit</button>
            </div>
        </form>
        <% } %>

        <div class="mb-3">
            
            <h2>Reviews</h2>
            <% if(camp.reviews.length > 0) {%>
                <% for(let i = 0; i < camp.reviews.length; i++){ %>
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <h5 class="card-title col-6"> <%= camp.reviews[i].author.username %></h5>
                                <% if(currentUser && currentUser._id.equals(camp.reviews[i].author._id)) {%>
                                <form action="/campgrounds/<%= camp._id %>/reviews/<%= camp.reviews[i]._id %>?_method=DELETE" class="text-end col-6" method="POST">
                                    <button class="btn btn-sm btn-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/> 
                                    </svg>
                                    </button>
                                </form>
                                <% } %>
                                <div class="row mx-1 px-1">
                                    <p class="starability-result ml-1" data-rating="<%= camp.reviews[i].rating %>">
                                        Rated: <%= camp.reviews[i].rating %> stars
                                    </p>
                                </div>
                            </div>
                            <p class="card-text mb-3"><%= camp.reviews[i].body %></p>
                        </div>
                    </div>            
                <% } %>
            <% } else {%>
                <div class="container">
                    <p class="text-secondary">No reviews yet. Be the first one!</p>
                </div>
            <% } %>

        </div>
    </div>

    
</div>


<script> 
    const mapToken = "<%-process.env.MAPBOX_TOKEN %>"          // for displaying the map
    const campground = <%-JSON.stringify(camp)%>
</script>                                                       
<script src="/js/showMap.js"></script>